.body {
  padding: 10px;
}
.tp-card {
  max-width: 400px;
}
.tp-header-image {
  background-image: url('https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg');
  background-size: cover;
}

.main-div{
  height: 6 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
